*{
    margin: 0;
    padding: 0;
}
 body{
    background: url(gymLogo.jpg);
    image-rendering: auto;
 }

.navbar{
    position: fixed;
    background: crimson;
    font-family: 'calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    width: 100%;
}


.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    color: whitesmoke;

}
.navstyle{
     list-style: none;
     display: inline-block;
}

.navstyle a{
    text-decoration:  none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button{
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
}

button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.both{
    display: flex;
}

.sidebar{
    /* position: fixed; */
    padding-top: 50px;
    height: 100%;
}


.sidediv {
    /* display: flex; */
    width: 130px;
    background: crimson;
    
}

.sidestyle a{
    text-decoration: 0;
    display: block;
    line-height: 65px;
    color: white;
    font-size: 20px;
}


.formdiv{
    justify-content: center;
    padding-top: 10%;
    padding-left: 35%;
    font-family: sans-serif;
    color: white;
}

.formbody{
    position: fixed;
    border: 1px solid black;
    background: rgba(29, 14, 14, 0.5);
    border-radius: 4px;
}

input[type=text]{
    display: inline-block;
}

h2{
    color: white;
}

